*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



.header-top{
	width: 100%;
	background: #378FD9;
	
}

.navegacion{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	padding:12px 0;
}

.nombre {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	padding:12px 0;
}

.materia {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	padding:12px 0;
	
}

button{
	width: 100%;
	max-width: 100px;
	margin: auto;
	padding:10px 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: green;
	position: relative;
    left: 15%;
	font-weight: bold;
	
}

input{
	padding: 10px;
	padding-right: 35px;
	border: none;
}

.search-table{
	background-color:coral;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	
	padding: 0;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0f362d;
	color: white;
}

tr:nth-child(even){
	background-color: #dddd;
}

tr:hover{
	background-color: #369681;
	color: white;
}